// IR
.blind {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

img {
    object-fit: cover;
    user-select: none;
}

.container {
    max-width: 1140rem;
    margin: auto;
}

.section {
    padding: 25rem 0;
}

body {
    height: 300vh;
}

.button--primary {
    width: 7.6rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    background-color: $blueF6;
    text-align: center;
    line-height: 3rem;
    color: #f9fafb;
}