// IR
.blind {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

img {
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.container {
    max-width: 1140px;
    padding: 250px 0;
}